<nav class="navbar">
  <div class="nav-container">

    <h1 class="logo">TREND FOLLOWING ASX</h1>

    <div class="nav-links">

  <a href="index.html" class="nav-tab">Home</a>
 
         <!-- In Trend -->
      <div class="dropdown">
  <a href="intrend-may23.html" class="nav-tab">In Trend</a>
  <div class="dropdown-menu">
       <a href="intrend-may23.html" class="dropdown-item">intrend-may23</a> 
    <a href="intrend.html" class="dropdown-item">intrend-may1</a>
    </div>
  </div>
 
        
        <!-- BREAKOUTS -->
  <div class="dropdown">
  <a href="#" class="nav-tab">Breakouts ▾</a>
    <div class="dropdown-menu">
      <a href="breakout-march26.html" class="dropdown-item">Breakout-March26</a>
      <a href="breakout-may26.html" class="dropdown-item">Breakout-May26</a>
    </div>
  </div>

  <a href="etf.html" class="nav-tab">ETFs</a>
  <a href="darvas.html" class="nav-tab">Darvas</a>

  <a href="contact.html" class="nav-tab">Contact</a>
</div>
</div>
</nav>
